@import "tailwindcss";

:root {
  --color-primary: #1a1a1a; /* hitam Logo*/
  --color-accent: #c8922b; /* emas Logo*/
  --color-text: #2c2c2c; /* hitam lembut untuk text utama*/
  --color-surface: #f0ede8; /* abu krem untuk card atau section */
  --color-background: #fafaf8; /*putih hangat, bukan putih dingin */
  --color-muted: #7a7068 /* teks sekunder */;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}